@import 'tailwindcss';

/* DARK (default / system) */
:root {
  --blight: 255 255 255;      /* white */
  --bg: 17 24 39;            /* gray-900 */
  --card: 31 41 55;          /* gray-800 */
  --muted: 55 65 81;         /* gray-700 */
  --border: 75 85 99;        /* gray-600 */

  --text: 229 231 235;       /* gray-200 */
  --text-muted: 156 163 175; /* gray-400 */
}

.light {
  --blight: 0 0 0;      /* black */
  --bg: 255 255 255;         /* white / gray-50 */
  --card: 243 244 246;       /* gray-100 */
  --muted: 229 231 235;      /* gray-200 */
  --border: 209 213 219;     /* gray-300 */

  --text: 17 24 39;          /* gray-900 */
  --text-muted: 75 85 99;    /* gray-600 */
}

/* apply */
body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}

@theme {
  --animate-ping: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}

/* Smooth transitions */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Page transition animations */
.page-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}